<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Text Summarizer</title>
</head>
<body>
    <header>
        <h1>Glosity Text Summarizer</h1>
    </header>

    <div class="container" style="display: flex; justify-content: space-around;">
        <p class="original_title col-sm-4">Original Text</p>
        <p class="summary_title col-sm-4">Summary</p>
    </div>

    <div class="container srt">
        <p class="original_text col-sm-6">{{original_text}}</p>
        <div class="container">
            <p class="summary_text col-sm-6">{{summary}}</p>
            <button class="btn btn-success" type="submit">Length: {{len_of_summary}}</button>
        </div>
    </div>

    <div class="container srt">
        <button class="btn btn-danger" type="submit">Length: {{len_of_text}}</button>
    </div>
</body>
</html>
